<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Aurora Bricks"] - IntexStyle</title>
    @*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IntexStyle.styles.css" asp-append-version="true" /> *@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>

    <header>

        <input type="checkbox" name="" id="toggler" />
        <label for="toggler" class="fas fa-bars"></label>

        <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">Aurora Bricks</a>

        @await RenderSectionAsync("Scripts", required: false)


        <nav class="navbar">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <a asp-area="" asp-controller="Home" asp-action="About">About</a>
            <a asp-area="" asp-controller="Home" asp-action="Products">Lego Sets</a>
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </nav>
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-home"></a>
            <a href="#" class="fas fa-shopping-cart"></a>
            <a href="#" class="fas fa-user"></a>
        </div>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="box-container">
            <div class="box">
                <h3>Quick Links</h3>
                <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <a asp-area="" asp-controller="Home" asp-action="About">About Us</a>
                <a asp-area="" asp-controller="Home" asp-action="Products">Lego Sets</a>
                <a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
            </div>

            <div class="box">
                <h3>Extra Links</h3>
                <a asp-area="" asp-controller="Home" asp-action="Account">My Account</a>
                <a asp-area="" asp-controller="Home" asp-action="Orders">My Orders</a>
                <a asp-area="" asp-controller="Home" asp-action="Products">Something else?</a>
            </div>

            <div class="box">
                <h3>Locations</h3>
                <a href="#">USA</a>
                <a href="#">India</a>
                <a href="#">United Kingdom</a>
                <a href="#">France</a>
            </div>

            <div class="box">
                <h3>Contact Info</h3>
                <a href="#">+444-411-4411</a>
                <a href="#">Aurorabricks41@gmail.com</a>
                <a href="#">Utah, USA - 84601</a>
                <img src="~/images/cardspayment.jpg" alt="" />
            </div>
        </div>

        <div class="credit">
            &copy; 2024 - <span>ISGroup4-1</span> - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
@*     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
@*     <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false) *@
</body>
</html>
