@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="about" id="about">

    <h1 class="heading"> About Us</h1>

    <div class="row">
        <div class="video-container">
        <video src="~/videos/AdobeStock_132873036_Video_HD_Preview.mov" loop autoplay muted></video>
            <h3> Best Sellers??? Something </h3>
        </div>
    </div>

    <div class="content">
        <h3>Say something here</h3>
        <p>Say something here</p>
        <p> More stuff here </p>
        <a href="#" class="btn">Learn More</a>
    </div>

</section>