@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="about" id="about">

    <h1 class="heading"> About Us</h1>

    <div class="row">
        <div class="video-container">
        <video src="~/videos/AdobeStock_132873036_Video_HD_Preview.mov" loop autoplay muted></video>
            <h3> Best Sellers??? Something </h3>
        </div>
    </div>

    <div class="content">
        <h3>Who are we?</h3>
        <p>
            Welcome to the vibrant world of Aurora Bricks, where your imagination comes to life one brick at a time!
            As a master builder, I'm dedicated to crafting custom LEGO sets that spark creativity, challenge the mind,
            and provide endless hours of fun. Whether you're a seasoned collector, a passionate hobbyist, or looking
            for the perfect unique gift, my creations are designed to inspire builders of all ages. Dive into my
            collection and discover bespoke LEGO sets that transform ordinary building into extraordinary creations.
        </p>
        <p> Aurora Brickwell is a famous collector of Legos and a master builder. She started through social media in 2020 where she would use her distributor license with The Lego Group to sell products.
            She started by taking orders over her various social media channels and in-person at various trade shows. Her popularity and her way with excellent customer service has led to a massive following and revenue from sales.
            Aurora’s focuses on a guaranteed rewarding experience for customers. LEGO products fosters creativity and imagination in both children and adults, providing endless hours of entertainment and learning.
            With a purchase, you will be donating one to charity! </p>
        
        <img src="~/images/AuroraBricks.jpeg" alt="">
        <br/>
 
        <a href="#" class="btn">Learn More</a>
    </div>

</section>