@{
    ViewData["Title"] = "Home Page";
}

<section class="home" id="home">

    <div class="content">
        <h3>Lego Sets</h3>
        <span> place something here </span>
        <p>place something here </p>
        <a href="#" class="btn">Shop now</a>
    </div>

</section>