@{
    ViewData["Title"] = "Home Page";
}

<section class="home" id="home">

    <div class="content">
        <h3>Lego Sets</h3>
        <span> place something here </span>
        <p>place something here </p>
        <a href="#" class="btn">Shop now</a>
    </div>

</section>

<section class="products" id="products">

    <h1 class="heading">Best <span>Sellers</span> </h1>

    <div class="box-container">

        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="~/images/lego1.jpg" />
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>Lego Set 1</h3>
                <div class="price">$70.99<span$62.99></span$62.99></div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="~/images/lego1.jpg" />
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>Lego Set 1</h3>
                <div class="price">$70.99<span$62.99></span$62.99></div>
            </div>
        </div>

        <div class="box">
            <span class="discount">-10%</span>
            <div class="image">
                <img src="~/images/lego1.jpg" />
                <div class="icons">
                    <a href="#" class="fas fa-heart"></a>
                    <a href="#" class="cart-btn"></a>
                    <a href="#" class="fas fa-share"></a>
                </div>
            </div>
            <div class="content">
                <h3>Lego Set 1</h3>
                <div class="price">$70.99<span$62.99></span$62.99></div>
            </div>
        </div>
    </div>

</section>

@* icons at the bottom of page*@
<section class="icons-container">

    <div class="icons">
        <img src="~/images/free-shipping.png" />
        <h3>Free shipping</h3>
        <span>on orders above $50</span>
    </div>

    <div class="icons">
        <img src="~/images/money-bag.png" />
        <h3>10 days returns</h3>
        <span>moneyback guarantee</span>
    </div>

    <div class="icons">
        <img src="~/images/gift-card.png" />
        <h3>Offer & gifts</h3>
        <span>on all orderes</span>
    </div>

    <div class="icons">
        <img src="~/images/secure-payment.png" />
        <h3>Secure payments</h3>
        <span>We keep you protected</span>
    </div>

</section>