@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

@model DefaultListViewModel

<h1>Aurora Bricks</h1>
<p>
    Welcome to the vibrant world of Aurora Bricks, where your imagination comes to life one brick at a time!
    As a master builder, I'm dedicated to crafting custom LEGO sets that spark creativity, challenge the mind,
    and provide endless hours of fun. Whether you're a seasoned collector, a passionate hobbyist, or looking
    for the perfect unique gift, my creations are designed to inspire builders of all ages. Dive into my
    collection and discover bespoke LEGO sets that transform ordinary building into extraordinary creations.
</p>

<h4>The things in the database should show up below:</h4>
@foreach (Product d in Model.Products)
{
    <partial name="DefaultPartialView" model="d" />
}

@* <a asp-controller="Home" asp-action="Index" asp-route-pageNum="1">1</a>
<a asp-controller="Home" asp-action="Index" asp-route-pageNum="2">2</a>
<a asp-controller="Home" asp-action="Index" asp-route-pageNum="3">3</a> *@

<div page-model="@Model.PaginationInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
     page-url-Name="@Model.CurrentPrimaryColor" class="btn-group pull-right m-1"></div>